body {
    background-color: lightblue;
}

.main-div {
    text-align: center;
}

.text-big {
    font-size: 24px;
}

p {
    font-family: verdana;
    font-size: 18px;
}

footer {
    padding-top: 2em;
    text-align: center;
    font-family: verdana;
    font-size: 12px;
    color: lightslategray;
}

sup {
    font-size: 12px;
    color: lightslategray;
}